@model sample_e_commerce_application.Models.Rent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch1</title>
</head>
<body>
    <div> 
        <h3>Number of buildings:@ViewBag.count</h3>
    </div>
</body>
</html>
