@model IEnumerable<sample_e_commerce_application.Models.Rent>
@using sample_e_commerce_application.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>city</title>
</head>
<body>
    

    <h1>City Names</h1>
    @{
       

        foreach (string i in ViewBag.city)
        {
            <h3>@Html.ActionLink(i, "city1", new { cy = i })</h3>
        }


    }

</body>
</html>
