@model IEnumerable<sample_e_commerce_application.Models.Staff>
@using sample_e_commerce_application.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>position</title>
</head>
<body>
    <div> 
        <h1>Position Names</h1>
        @{
            

            foreach (string i in ViewBag.position)
            {
                <h3>@Html.ActionLink(i, "position1", new { pos = i })</h3>
            }


        }
    </div>
</body>
</html>
